.inputWaitlist {
	border-radius: 5px;
	height: 50px;
	width: 300px;
	margin-right: 15px;
	font-size: medium;
}

.waitlistForm {
	margin-top: 2%;
}

.button {
	appearance: none;
	border: none;
	background-image: linear-gradient(to right, #0d76fc, #7a70ff);
	line-height: 1;
	font-weight: 700;
	height: 50px;
	width: 200px;
	padding: 0 20px;
	border-radius: 20px;
	align-items: center;
	color: white;
	transition: all ease 500ms;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}

@media screen and (max-width: 520px) { 

	.waitlistForm {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}

	.inputWaitlist {
		width: 75%;
		margin-top: 10px;
		margin-right: 0;
	}

}