.mobileNav{
	display: none;
}

.navLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0px;
}

.desktopNav{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #091562;
	padding-left: 3%;
	padding-right: 6%;
	height: 75px;
}

.navLinks {
	height: 100%;
	margin-top: 0%;
	margin-bottom: 0;

}

.navLinks ul {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 0%;
	margin-bottom: 0;
	padding-left: 0;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

.navLinks ul li {
	display: inline;
	margin-right: 20%;
}


.navLinks ul li a {
	white-space: nowrap;
}

.navText{
	font-size: large;
	font-weight: bold;
	color: #0093ff;
	width: 100%;
}

.navText:hover {
	color: #7a70ff;
}

.startedButton {
	appearance: none;
	border: none;
	background-image: linear-gradient(to right, #0d76fc, #7a70ff);
	line-height: 1;
	font-weight: 700;
	height: 50px;
	width: 200px;
	padding: 0 20px;
	border-radius: 20px;
	align-items: center;
	color: white;
	transition: all ease 500ms;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}


@media screen and (max-width: 1120px) {
	.desktopNav{
		display: none;
	}

	.mobileNav{
		display: flex;
		width: 100%;
		height: 80px;
		align-items: center;
	}

	.navLinks ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		position: absolute;
		background-color: white;
		border-top: 2px solid #091562;
		margin-top: 0;
		padding-left: 0%;
		padding-top: 10px;
		padding-bottom: 20px;
		width: 100%;
		height: auto;
		top: 80px;
		box-shadow: 0px 0px 1px #091562;
	}

	.navLinks ul li {
		display: flex;
		margin-bottom: 3%;
		margin-right: 0;
	}


	.navLinks ul li:nth-child(2) {
		padding-left: 0;
		margin-top: 15px;
		padding-right: 0%;
		box-sizing: unset;
		align-self: center;
	}

	.navLinks ul li:nth-child(1) {
		margin-top: 15px;
	}

	.imgSmallScreen {
		display: none;
	}

	.imgMediumScreen {
		display: flex;
		position: absolute;
		top: 1%;
		right: 3%;
	}


	.startedButton {
		appearance: none;
		border: none;
		background-image: linear-gradient(to right, #0d76fc, #7a70ff);
		line-height: 1;
		font-weight: 700;
		height: 50px;
		width: 200px;
		padding: 0 20px;
		border-radius: 20px;
		align-items: center;
		color: white;
		transition: all ease 500ms;
		font-size: 1rem;
		cursor: pointer;
		box-shadow: 2px 2px 2px grey;
		margin-left: auto;
	}

	.burgerMenu {
		display: flex;
		position: absolute;
		top: 1.8%;
		left: 3%;
	}

}

@media screen and (max-width: 520px) {
	.navLinks ul li {
		margin-bottom: 5%;
	}

	.navLinks ul li:nth-child(1) {
		margin-top: 10px;
	}

	.burgerMenu {
		display: flex;
		position: absolute;
		top: 1.2%;
		left: 5%;
	}

	.imgMediumScreen {
		display: none;
	}

	.imgSmallScreen {
		display: flex;
		position: absolute;
		top: 1.2%;
		right: 5%;
	}

	.navLinks ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		position: absolute;
		background-color: white;
		border-top: 2px solid #091562;
		margin-top: 0;
		padding-left: 0%;
		padding-top: 10px;
		padding-bottom: 20px;
		width: 100%;
		height: auto;
		top: 60px;
		box-shadow: 0px 0px 1px #091562;
	}

}