.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product_canvas {
    flex: 1;
    max-width: 421px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}