html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	color: #0093ff;
	font-weight: 666;
	font-size: 1.2rem;
	padding: 2rem 0;
}
footer:hover {
	background: "heartbeat.gif";
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	color: #091562;
}
footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
footer b {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
}

@media screen and (max-width: 1060px) {
	footer {
		position: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: center;
		color: #0093ff;
		font-weight: 666;
		font-size: 1.2rem;
		padding: 2rem 0;
	}
}

@media screen and (max-width: 520px) {
	footer {
		position: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: center;
		color: #0093ff;
		font-weight: 666;
		font-size: 1.2rem;
		padding: 2rem 0;
	}
}
