.main {
	min-height: 85vh;
	padding: 2rem 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: "1400px";
}

.button {
	appearance: none;
	border: none;
	background-image: linear-gradient(to right, #0d76fc, #7a70ff);
	line-height: 1;
	font-weight: 700;
	height: 50px;
	width: 200px;
	padding: 0 20px;
	border-radius: 20px;
	align-items: center;
	color: white;
	transition: all ease 500ms;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}
.button:hover {
	animation: heartbeat 1s infinite;
	transform: scale(1.1);
}

.img {
	display: none;
}

.nft {
	background: #f5f5f5;
	box-shadow: 3px 3px 3px grey;
	border-radius: 20px;
	padding: 0.1rem;
	margin: 2rem;
	transition: all ease 1000ms;
}
.nft:hover {
	animation: heartbeat 1s infinite;
	transform: scale(1.1);
}

.description {
	text-align: left;
	display: inline-block;
}
.description {
	margin: 0 0 -2rem;
	line-height: 1.1;
	font-size: 2rem;
	display: inline-block;
}

@media screen and (min-width: 1120px) {
	.columns {
		flex-direction: line;
		display: flex;
	}
	.img {
		display: flex;
	}
}
